
@{
    ViewData["Title"] = "Ders Düzenle";
}
@model Students.DAL.Lesson

<div class="content">
    <div class="page-header">
        <div>
            <h3>Ders Düzenle</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/lesson">Ders</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Ders Düzenle</li>
                </ol>
            </nav>
        </div>
        <div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Genel</h6>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sınıf</label>
                                    <select id="CLASSID" name="CLASSID" asp-for="CLASSID">

                                        @foreach (var item in ViewData["Classes"] as List<dynamic>)
                                        {
                                            <option value="@item.CLASSID">@item.NAME</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Kod</label>
                                    <input name="CODE" asp-for="@Model.CODE" type="text" class="form-control" required />
                                    <input type="hidden" name="LESSONID" asp-for="@Model.LESSONID" />
                                </div>
                                <div class="form-group">
                                    <label>Ad</label>
                                    <input name="NAME" asp-for="@Model.NAME" type="text" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label>Sıra</label>
                                    <input name="SORT" asp-for="@Model.SORT" type="number" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Durum</label>
                                    <select name="STATUS" asp-for="@Model.STATUS" class="form-control">
                                        <option value="0">Pasif</option>
                                        <option value="1">Aktif</option>
                                    </select>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" class="btn btn-outline-danger pull-right" value="SİL" onclick="isDel()" style="margin-left:10px" />
                <input type="submit" class="btn btn-primary pull-right" value="KAYDET" />
            </form>
        </div>
    </div>
</div>
<!-- ./ Content -->
<script>
    @Html.Raw(@ViewData["alert"])
</script>
<script>
    function isDel() {
        swal({
            title: "Ders Sil",
            text: "Ders silinecek onaylıyor musunuz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.post("/delete-lesson/@Model.LESSONID", function (data) {
                        window.location.href = "/lesson";
                    });
                }
            })
    };
</script>

<script>
    $(document).ready(function () {
        $('#CLASSID').select2();
    });
</script>